<?php if($this->getSharesCollection()->getSize() == 0) : 
    echo '<h3>Sorry, There are not enough Promotions =)</h3>';
?>

<?php else:?>

<!-- Promo-Shares Grid -->
    <div class="share-grid">
        <h2><?php echo $this->__('List of Promo-Shares') ?></h2>
    </div>
<!--Add Paging-->
<?php echo $this->getPagerHtml() ?>  

    <table id="shares-table" class="data-table">
	<colgroup>
            <col>
            <col>
            <col>
            <col width="1">
            <col width="1">
	</colgroup>
	<thead>
            <tr class="first last">
                <th><?php echo $this->__('Title Image')?></th>
                <th><?php echo $this->__('Title')?></th>
                <th><?php echo $this->__('Summary')?></th>
                <th><?php echo $this->__('Start Promo-Share')?></th>
                <th><?php echo $this->__('End Promo-Share')?></th>
            </tr>
	</thead>
	<tbody>
            <?php foreach($this->getSharesCollection() as $share): ?>
                <tr>
                    <td><img src="<?php echo Mage::helper('shares/image')->resizeImage(Mage::getBaseUrl() . 'media/promotions' . $share->getImagePrev(), 200);?>"/></td>
                    <td> 
                        <h3>
                            <a href="
                                <?php echo Mage::getUrl('shares/index/view', array(
                                    '_current' => true,
                                    'share_id' => $share->getShareId()
                                    ));  ?>">
                                <?php echo $share->getTitle(); ?>
                            </a>
                        </h3>    
                    </td>
                    <td><?php 
                        // If summary is disabled, added content with only 150 chs
                        if($share->getSummary())
                        {
                           echo Mage::helper('shares')->filtering($share->getSummary());
                        }else
                        {
                            echo Mage::helper('shares')->filtering(substr($share->getShareInfo(),0,150));
                        }
                    ?></td>
                    <td><?php echo Mage::helper('core')->formatDate($share->getData('date_start'))?></td>
                    <td><?php echo Mage::helper('core')->formatDate($share->getData('date_finish'))?></td>
                </tr>
            <?php endforeach ?>
	</tbody>
    </table>
<?php endif;?>