<!-- Promo-Share View -->
    <?php foreach($this->getCurrentSharesCollection() as $share): ?>
        <div class="current-share">
            <h2><?php echo $share->getTitle(); ?></h2>
        </div>
        <table id="current-share-table" class="data-table">
            <colgroup>
                <col>
                <col>
                <col width="1">
                <col width="1">
            </colgroup>
            <thead>
                <tr class="first last">
                    <th><?php echo $this->__('Title')?></th>
                    <th><?php echo $this->__('Description')?></th>
                    <th><?php echo $this->__('Start Promo-Share')?></th>
                    <th><?php echo $this->__('End Promo-Share')?></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td> 
                            <?php echo $share->getTitle(); ?>  
                        </td>
                        <td>
                            <?php echo Mage::helper('shares')->filtering($share->getShareInfo()); ?>
                        </td>
                        <td><?php echo Mage::helper('core')->formatDate($share->getData('date_start'))?></td>
                        <td><?php echo Mage::helper('core')->formatDate($share->getData('date_finish'))?></td>
                    </tr>
            </tbody>
        </table>
<?php endforeach ?>  

<h3><p>Attached Products for this Promo-Share</p></h3>