
<?php if($this->getQuote()->getBaseSubtotal() > 200):?>
<div class="cart-totals">
    <div class="page-title">
        <h3><?php echo $this->__('Create quick Order') ?></h3>
    </div>
    <div class="fieldset">
        <form action="<?php echo $this->getOrderActionUrl() ?>" method="post" id="form-validate">
            <ul class="form-list">
                <li class="fields">
                    <label for="name" class="required"><em>*</em><?php echo $this->__('Name') ?></label>
                    <div class="input-box">
                        <input type="text" value="<?php echo $this->escapeHtml($this->getCustomer()->getName())?>" name="name" id="name" title="<?php echo $this->__('Name') ?>" class="input-text validate-name required-entry" />
                    </div>
                </li>
                <li class="fields">
                    <label for="email_address" class="required" id="label-email"><em>*</em><?php echo $this->__('Email Address') ?></label>
                    <div class="input-box">
                        <input type="text" value="<?php echo $this->escapeHtml($this->getCustomer()->getEmail())?>" name="email" id="email_address" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" />
                    </div>
                </li>
                <li class="fields">
                    <label for="telephone" class="required" id="label-tel"><em>*</em><?php echo $this->__('Phone Number') ?></label>
                    <div class="input-box">
                        <input type="text" name="telephone" id="telephone" title="<?php echo $this->__('Phone Number') ?>" class="input-text validate-phoneLax required-entry" />
                    </div>
                </li>
            </ul>
            <div class="buttons-set">
                <p class="required"><?php echo $this->__('* Required Fields') ?></p>
                <button type="submit" title="<?php echo $this->__('Buy Now') ?>" class="button"><span><span><?php echo $this->__('Buy Now') ?></span></span></button>
            </div>
        </form>
        <script type="text/javascript">
        //<![CDATA[
            var dataForm = new VarienForm('form-validate', true);
            
            document.getElementById('email_address').observe('change', bindTelephoneClass);
            document.getElementById('telephone').observe('change', bindEmailAddress);
            
            function bindTelephoneClass(event){
                document.getElementById('telephone').className = 'input-text validate-phoneLax';
                document.getElementById('label-tel').className = '';
                if(this.value == ''){
                    document.getElementById('telephone').className = 'input-text validate-phoneLax required-entry';
                    document.getElementById('label-tel').className = 'required';
                }
            }
            function bindEmailAddress(event){
                document.getElementById('email_address').className = 'input-text validate-email';
                document.getElementById('label-email').className = '';
                if(this.value == ''){
                    document.getElementById('email_address').className = 'input-text validate-email required-entry';
                    document.getElementById('label-email').className = 'required';
                }
            }
        //]]>
        </script>
    </div>    
</div>
<?php endif;?>