<?php
/** @var Company_NavMenu_Page_Block_Html_Topmenu_Renderer $this */
/** @var Varien_Data_Tree_Node $menuTree */
/** @var string $childrenWrapClass */
$html = '';

$children = $menuTree->getChildren();
$parentLevel = $menuTree->getLevel();
$childLevel = is_null($parentLevel) ? 0 : $parentLevel + 1;

$counter = 1;
$childrenCount = $children->count();

$parentPositionClass = $menuTree->getPositionClass();
$itemPositionClassPrefix = $parentPositionClass ? $parentPositionClass . '-' : 'nav-';

foreach ($children as $child) {
    $child->setLevel($childLevel);
    $child->setIsFirst($counter == 1);
    $child->setIsLast($counter == $childrenCount);
    $child->setPositionClass($itemPositionClassPrefix . $counter);
    // Gets value of the attribute "output_link"
    $linkFlag = $this->getAttributesValue($child, 'nav_menu_output_link');

    // Gets value of the attribute "replacement_content"
    $replacementContent = Mage::helper('cms')
            ->getBlockTemplateProcessor()
            ->filter($this->getAttributesValue($child, 'nav_menu_replacement_content'));

    $outermostClassCode = 'level'. $childLevel;
    $_hasChildren = ($child->hasChildren()) ? 'has-children' : '';

    // Setting the classes
    $html .= '<li '. $this->_getRenderedMenuItemAttributes($child) . '>';
    
    // Show WYSIWYG Content if it's exists
    if($replacementContent){
        $html .= '<a href="'. $child->getUrl() .'">' . $replacementContent . '</a>';
    }else{
        // Show link or not
        if(!empty($_hasChildren) && $childLevel == 1){
            if($linkFlag){
                $html .= '<b>'.$this->escapeHtml($this->__($child->getName())).'</b>';
            }else{
                $html .= '<b><a href="'. $child->getUrl() .'" class="'. $outermostClassCode .' '. $_hasChildren .'">'. 
                    $this->escapeHtml($this->__($child->getName())) .'</a></b>';
            }
        }else{
            if($linkFlag){
                $html .= $this->escapeHtml($this->__($child->getName()));
            }else{
                $html .= '<a href="'. $child->getUrl() .'" class="'. $outermostClassCode .' '. $_hasChildren .'">'. 
                    $this->escapeHtml($this->__($child->getName())) .'</a>';
            }

        }
    }
    
    if (!empty($childrenWrapClass)) {
        $html .= '<div class="'. $childrenWrapClass .'">';
    }  

    $nextChildLevel = $childLevel + 1;
    if($this->getAttributesValue($child, 'nav_menu_new_column_after')){
        $html .= '</ul><ul class="level0">';
    }

    if (!empty($_hasChildren)) {
        
        if($childLevel == 0){
            $html .= '<ul class="level'. $childLevel .'">';
        }

        if(empty($_hasChildren)){
            $html .= '<a class="level'. $nextChildLevel .'" href="'. $child->getUrl() .'"></a>';
        }
        $html .= $this->render($child, $childrenWrapClass);
        
        if($childLevel == 0){
            $html .= '</ul>';
        }
    }

    if (!empty($childrenWrapClass)) {
        $html .= '</div>';
    }
    
    $html .= '</li>';

    $counter++;
    
}

return $html;