<?php
/**
 * 
 */
?>
<?php $_items = $this->getCitationsCollection()->getItems();?>
<div class="box-collateral box-reviews" id="customer-reviews">
    <?php if (count($_items)):?>
        <div class="review-heading">
            <h2>
                <?php echo $this->__('Citations') ?>
                <span><?php echo count($_items); ?> item(s)</span>
            </h2>
            <?php echo $this->getChildHtml('toolbar') ?>
        </div>
        <dl>
        <?php foreach ($_items as $_citation):?>
            <dt>
                <a href="">
                    <?php echo $this->escapeHtml($_citation->getName()) ?>
                </a>
            </dt>
            <dd>

                <?php echo nl2br($_citation->getCitation()) ?>

                <span class="review-meta">
                    <a href="<?php echo $_citation->getLink() ?>" target="_blank">
                        <?php echo $this->__('Citation by "%s"', $this->escapeHtml($_citation->getJournal())) ?>
                    </a>
                    /
                   <?php echo $this->__('(Posted on %s)', $this->formatDate($_citation->getDatePublication()), 'long') ?>
                </span>
            </dd>
        <?php endforeach; ?>
        </dl>
    <?php else:?>
        <h3><p>No citations about this product</p></h3>
    <?php endif;?>
    <?php echo $this->getChildHtml('citation_form') ?>
</div>
