<?php
/** 
 * Template of Order Information Data sheet
 * 
 * @block Space_Html2pdf_Block_Adminhtml_Order_Info
 * @category  
 * @package   Web4pro
 * @author    Web4pro
 */
?>
<style>
    #data-sheet-title{
        padding-left: 50px;
    }
</style>

<?php $order = $this->getOrder() ?>

<div id="data-sheet-title">
    <h1><span><?php echo $this->__('Hello Bio!') ?></span></h1>
</div>

<div id="wrapper">
    <h2><span><?php echo $this->__('Order #'.$order->getIncrementId()) ?></span></h2>
    
    
    
    
    
    
</div>
